---
layout: default
title: Sharzy's random blog
subtitle: Randomly record random things.
requirements:
 - <script src="/assets/js/index_util.js"></script>
---
<div class="main-text">
    <h3 id="content-hint" style="margin-left: 1em">
        ALL POSTS
    </h3>

    {% for post in site.posts %}
    <div class="post-card" url={{post.url}} tags="{% for tag in post.tags %}{{tag}} {% endfor %}">
        <a href="{{post.url}}">
        <h3 class="post-header bold">
            {{ post.title }}
        </h3>
        {% if post.subtitle %}
        <h4 class="post-subtitle">
            {{ post.subtitle }}
        </h4>
        {% endif %}
        <div class="post-preview">
            {{ post.excerpt | strip_html }}
        </div>
        <div class="post-meta">
            <span class="post-date">
                Posted on <i>{{ post.date | date_to_string: "ordinal", "US"}}</i> ;
                Last edited on <i>{{ post.last_modified_at | date_to_string: "ordinal", "US"}}</i>
            </span>

            <span class="post_tags">
                {% for tag in post.tags %}
                <a class="tag" href="/?tags={{tag}}"> {{ tag }} </a>
                {% endfor %}
            </span>
        </div>
        </a>
    </div>
    {% endfor %}
</div>

<div class="sidebar hidden-on-mobile" id="sidebar">
    <div id="tags-showcase">
        <h3><i class="fa fa-tags"></i> TAGS</h3>
        <div id="tags-list"></div>
        <a id="show-tags-a" class="hidden link">Show all articles</a>
    </div>
</div>

<!-- use mathjax to handle formulas-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
<script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {inlineMath: [['$','$']]}
        });
</script>

<script>
    document.title = "Homepage | Sharzy's random blog"
</script>



<!--TODO: modify contributions-->