<div class="header">
    {% include nav_bar.html %}
    <div class="article-banner banner">
        <div class="article-tags">
            <i class="fa fa-tags"></i>
            {% for tag in page.tags %}
            <a class="tag header-tag" href="/?tags={{tag}}">{{ tag }}</a>
            {% endfor %}
        </div>
        <p class="article-title bold">
            {{ page.title }}
        </p>
        <p class="article-subtitle">
            {{ page.subtitle }}
        </p>
        <p class="article-date">
            <span class="inline-block">Posted on {{ page.date | date: "%Y-%m-%d"}}</span>
            <span class="horizon-sep"></span>
            <span class="inline-block">Last edited on {{ page.last_modified_at | date: "%Y-%m-%d"}}</span>
        </p>
    </div>
</div>