<head>
    <meta charset="UTF-8">
    <title>{{ page.title | strip_html }} | Sharzy's random blog</title>
    <meta http-equiv="Content-Language" content="zh-cn"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    {% for meta in site.meta %}<meta name="{{meta.name}}" content="{{meta.value}}">{% endfor %}
    {% if post.description %}<meta name="description" content="{{page.description}}">
    {% elsif page.excerpt %}<meta name="description" content="{{ page.excerpt | strip_html | strip_newlines }}">
    {% else %}<meta name="description" content="{{ site.description }}">{% endif %}
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="/assets/css/common.css" rel="stylesheet">
    <script>
        const darkModeAttributeName = 'dark-mode-enabled';
        let darkModeEnabled = window.matchMedia('(prefers-color-scheme: dark)').matches
                           || window.localStorage.getItem(darkModeAttributeName) != null;
        if (darkModeEnabled) {
            document.documentElement.setAttribute(darkModeAttributeName, 'true');
            storage.setItem(darkModeAttributeName, 'true');
        }
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            },
            svg: {
                fontCache: 'global'
            }
        };
    </script>
    {% for requirement in page.requirements %} {{ requirement }} {% endfor %}
    {% for requirement in layout.requirements %} {{ requirement }} {% endfor %}
    <script src="/assets/js/page_util.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;500;700&display=swap" rel="stylesheet">
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript" defer></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.0/es5/tex-mml-chtml.js" defer></script>
    <link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>
