<div class="header">
    <div id="nav">
        <ul>
            <li class="hidden-on-mobile"><a href="/" class="fa fa-home fa-2x"></a> </li>
            <li><a class="bold" href="/">HOME</a></li>
            <li><a class="bold" href="/about">ABOUT</a></li>
            <li><a class="bold" href="/clock/clock.html">CLOCK</a></li>
        </ul>
    </div>
    <div class="banner">
        <p class="main-title bold">
            {{ page.title }}
        </p>
        <p>
            {{ page.subtitle }} {{ page.date | date_to_string: "ordinal", "US" }}
        </p>
    </div>
</div>

