<div class="header">
    <div role="navigation" class="nav">
        <div style="flex: 1;">
            <a href="/"  class="main-nav">Sharzy's blog</a>
        </div>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/clock/clock.html">Clock</a>
    </div>
    <div class="banner">
        <h1 class = "main-title">
            {{ page.title }}
        </h1>
        <p>
            {{ page.subtitle }} {{ page.date | date_to_string: "ordinal", "US" }}
        </p>
    </div>
</div>
