<div class="header">
    <div id="nav">
        <ul>
            <li id="home-icon"><a href="/" class="fa fa-home fa-2x"></a> </li>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/clock/clock.html">Clock</a></li>
        </ul>
    </div>
    <div class="banner">
        <h1 class = "main-title">
            {{ page.title }}
        </h1>
        <p>
            {{ page.subtitle }} {{ page.date | date_to_string: "ordinal", "US" }}
        </p>
    </div>
</div>

