<div id="nav-wrap">
<!--    <a href="/" class="fa fa-home fa-2x show-on-mobile home-icon"></a>-->
    <div id="nav">
        <ul style="padding-inline-start: 0">
            <li>
                <a href="/" class="hover-underline fa fa-home"></a>
            </li>
            <li>
                <label for="search-line" id="search-btn">
                    <a class="fa fa-search"></a>
                </label>
                <input type="text" id="search-line" class="search-line-hidden" placeholder="Search by Google">
            </li>
            <li><a id="dark-mode-toggle" title="Toggle dark mode" class="fa"></a> </li>
            <li><a class="hover-underline sans" href="/about">ABOUT</a></li>
        </ul>
    </div>
</div>
