<div id="nav-wrap">
    <a href="/" class="fa fa-home fa-2x show-on-mobile home-icon"></a>
    <div id="nav">
        <ul style="padding-inline-start: 0">
            <li class="hidden-on-mobile"><a href="/" class="bold hover-underline">Sharzy's Blog</a></li>
            <li class="hidden-on-mobile">
                <label for="search-line" id="search-btn">
                    <a class="fa fa-search"></a>
                </label>
                <input type="text" id="search-line" class="search-line-hidden">
            </li>
            <li>
                <a class="bold hover-underline" href="/">HOME</a>
            </li>
            <li><a class="bold hover-underline" href="/about">ABOUT</a></li>
            <li><a class="bold hover-underline" href="/clock/clock.html">CLOCK</a></li>
        </ul>
    </div>
</div>
