#body-wrap {
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    background: url("https://i.loli.net/2019/08/02/5d43e8e3f05dd56979.jpg");
    background-size: cover;
}

#nav {
    width: 100%;
}

#banner-404 {
    font-size: 4em;
    color: white;
    text-align: center;
    padding: 1em;
}


