* {
    margin: 0;
    font-family: Arial, "Microsoft YaHei UI Light", "Simsum", Helvetica, sans-serif;
    box-sizing: border-box;
}

i, b {
    font-size: inherit;
}

.post-article h1 {
    font-family: Arial, "Microsoft YaHei", "Simsum", Helvetica, sans-serif;
    font-weight: normal;
    border-bottom: 1px solid #ddd;
    margin: .5em 0;
}

.post-article h2 {
    font-family: Arial, "Microsoft YaHei", "Simsum", Helvetica, sans-serif;
    margin: .5em 0;
}

.post-article h3 {
    font-family: Arial, "Microsoft YaHei", "Simsum", Helvetica, sans-serif;
    font-weight: normal;
}


.post-article h1, 
.post-article h2,
.post-article h3 {
    color: #155e9d;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
}

article a,
.link,
.footer a {
    color: #2a7ae2;
    text-decoration: none;
}

.sep-line {
    border-top: #eee solid 1px;
    margin: .5em 0;
}

article a:hover,
.link:hover,
.footer a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.hover-underline:hover {
    text-decoration: underline;
}

article p, strong {
    margin: 1em 0;
}

h2, h3, h4, h5, h6 {
    font-family: Arial, SimSun, sans-serif;
}

h1, .h1 {
    font-size: 40px;
}

h2, .h2 {
    font-size:28px;
}

h3, .h3 {
    font-size:24px
}

h4, .h4 {
    font-size:18px
}

h5, .h5 {
    font-size:14px
}

h6, .h6 {
    font-size:12px
}

p {
    padding: .2em 0;
}

.inline-block {
    display: inline-block;
}

code {
    color: #eb7979;
    background-color: #eee;
    padding: 1px .3em;
    border-radius: 4px;
}

code,
code span {
    font-family: Consolas, "Microsoft YaHei UI", Monospace, sans-serif;
}

strong {
    font-family: "Microsoft YaHei UI", Segoe, Arial, sans-serif;

}

table {
    border-collapse: collapse;
    margin:0 auto;
}

code table {
    margin:0;
}
thead tr {
    border-bottom: 2px solid black;
    text-align: left;
}

tbody tr {
    border-bottom: 1px solid #bbb;
}

th, td {
    padding: 2px 1em;
}

.hidden {
    display: none !important;
}

.paged {
    display: none!important;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
    font-family: "Microsoft YaHei", Segoe, Arial, sans-serif;
}

.fixed {
    position: fixed;
    top: 0;
}

.underlined {
    border-bottom: 1px solid #f5f5f5;
}

div.highlight {
    background-color: #f5f5f5;
    padding: .7em;
    border-radius: .3em;
    overflow-x: auto;
}

.highlight code {
    padding: 0;
    color: inherit;
    background-color: transparent;
}

blockquote {
    margin: .5em 0;
    padding: .2em 2em;
    border-left: 3px #bbb solid;
    font-style: italic;
    color: #666666;
}

/* handle positioning exception with formulas in blockquote*/
blockquote .MJXc-display {
    padding-bottom: 1em;
    margin-bottom: 0;
}

blockquote > p {
    margin: 0;
}

body {
    line-height: 1.6;
    display: flex;
    min-height: 100vh;
    flex-flow: column;
}

.navigation {
    display: flex;
}

.home-icon {
    flex: 1;
    color: white;
    margin: .25em;
    font-weight: bolder;
    line-height: 100%;
}

.header {
    background: linear-gradient(90deg, #1b86e4,#1ba6f4,#1b86e4);
}

.main-title {
    font-size: 4em;
    font-weight: bolder;
}

.banner {
    text-align: center;
    color: white;
    margin-top: 6em;
    margin-bottom: 6em;
}

.section-head {
    font-weight: bold;
    font-size: 1em;
    color: #555555;
    margin: .5em;
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
    /* to ensure footer in the bottom*/
    flex: 1;
}

.main-text {
    margin-top: 2.5em;
}

.main-text > p:first-child {
    margin-top: 0;
}

.post-card {
    color: black;
    padding: 1em;
    margin: 0 .5em;
    transition: .2s;
    overflow: visible;
    border-top: #eee solid 1px;
}

.post-card:hover {
    cursor: pointer;
    box-shadow: 4px 2px #1B76C4 inset, -2px -2px #1B76C4 inset;
    padding-left: 1.5em;
    padding-right: .5em;
}

.post-header {
    font-weight: normal;
    font-size: 20px;
}

.post-subtitle {
    font-family: inherit;
    padding-left: 2px;
    font-weight: lighter;
    color: #444444;
}

.post-preview {
    padding: .5em 0;
    color: #808080;
}

.post-preview {
    font-size: .9em;
}

.post-meta {
    display: flex;
    align-items: flex-start;
    color: #555555;
}

.post-meta > a:first-child {
    flex: 1;
}

.post-date {
    color: #888;
    font-size: .9em;
}

.horizon-sep {
    /*border-left: #bbbbbb solid 1px;*/
    margin: 0 .5em;
}

#post-switch {
    padding: 2em 0;
    display: flex;
    justify-content: space-between;
}

#post-switch > div {
    width: 40%;
}

#post-switch a {
    display: block;
    color: #666666;
    padding: .7em 1.6em;
    border-color: #ccc;
    transition: .2s;
    overflow: visible;
}

#post-switch a:hover {
    text-decoration: none;
}

#post-switch h5 {
    margin-bottom: .5em;
    font-family: "Arial Black", "Microsoft YaHei", "Simsum", Helvetica, sans-serif;
}

#post-previous {
    text-align: left;
    border: 1px solid;
    border-left: .3em solid;
}

#post-previous:hover {
    padding-left: 1.8em;
}

#post-next {
    text-align: right;
    border: 1px solid;
    border-right: .3em solid;
}

#post-next:hover {
    padding-right: 1.8em;
}

#post-previous:hover, #post-next:hover {
    border-color: #2a7ae2;
    color: #2a7ae2;
}

.tag {
    font-weight: lighter;
    font-size: small;
    padding: 0 .5em;
    margin: .2em .2em;
    display: inline-block;
    border-radius: .75em;
    color: #555555;
    border: 1px solid #ddd;
    transition: .3s;
}

.tag-selected {
    background-color: #eee;
}

.tag:hover {
    text-decoration: none;
    color: #1B76C4;
    cursor: pointer;
    border-color: #1B76C4;
}

#show-tags-a {
    display: block;
    margin: 1em .5em -1em;
}

.header-tag {
    color: white;
}

.sns-icon {
    color: #555555;
    display: block;
}

.sns-icon:hover {
    text-decoration: underline;
}

.bio {
    color: #555555;
}

footer {
    width: 100%;
    text-align: center;
    padding : 0 20vw;
    color: #808080;
}

footer > .container {
    padding: 1.5em 0;
    /*border-top: 1px solid #eee;*/
}

footer * {
    font-size: 13px;
}

#nav-wrap a,
#nav-wrap a:before {
    color: inherit;
}

#nav ul {
    color: white;
}

#search-line {
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    color: white;
    width: 10em;
    transition: .5s width;
}

#search-line::placeholder {
    color: rgba(255, 255, 255, .7);
}

.nav-detach #search-line {
    color: black;
    border-bottom-color: black;
}

.search-line-hidden {
    width: 0 !important;
    border-bottom-color: transparent !important;
}

.nav-toggle {
    margin: .5em;
    float: right;
}

.nav-toggle:hover {
    text-decoration: none;
}

.nav-toggle:before {
    color: white;
    font-size: 2em;
}

#nav-wrap {
    color: white;
    width: 100%;
    height: 3em;
    position: absolute;
    transition: .5s;
}

.nav-detach {
    background-color: rgba(255, 255, 255, .8);
    position: fixed!important;
    top: -58px;
    z-index: 1;
}

.nav-detach a,
.nav-detach a:before {
    color: black!important;
}

.nav-active {
    top: 0;
}

#sidebar {
    width: 0;
    padding-top: 3em;
}

.sidebar-detached {
    position: fixed;
    top: 0;
}

#bio {
    text-align: center;
    font-family: Consolas, "Microsoft YaHei UI", Monospace, sans-serif;
    font-size: .9em;
}

#bio > a {
    display: block;
    font-family: inherit;
    color: #aaa;
    transition: .3s;
}

#bio > a:hover {
    color: black;
}

#toc > li {
    list-style: none;
}

#avatar {
    display: block;
    margin: auto;
}

.toc-link {
    list-style-type: none;
    display: block;
    color: #888;
    font-size: .9em;
    padding: .2em 0;
    transition: .3s;
}

.toc-title {
    padding-left: .5em;
    text-transform: uppercase;
    padding-bottom: 1.3em;
    font-size: 1.2em;
    color: #555;
}

.toc-link:hover {
    text-decoration: none;
    color: #2a7ae2;
    margin-left: .2em;
}

.h-active {
    border-radius: .3em;
    background-color: #eee;
}

.toc-h1 {
    padding-left: 1em;
    font-weight: bold;
}

.toc-h2 {
    padding-left: 1.5em;
}

.toc-h3 {
    padding-left: 2.3em;
    font-size: .9em;
}

article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.article-title {
    font-size: 3em;
}

.article-subtitle {
    font-size: 1.5em;
}

.article-tags {
}

.article-banner {
    text-align: left;
}

.nav-collapse ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    list-style: none;
}

.nav-collapse li {
    width: 100%;
    display: block;
}

.js .nav-collapse {
    clip: rect(0 0 0 0);
    max-height: 0;
    position: absolute;
    display: block;
    overflow: hidden;
    zoom: 1;
}

.nav-collapse.opened {
    max-height: 9999px;
}

.nav-toggle {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gt-container .gt-comments-null {
    display: none !important;
}

/* for mobile devices that responsive nav is enabled */
@media screen and (max-width: 40em) {
    #nav ul {
        list-style:none;
        float:left;
        /* don't touch above line of code, dangerous */
    }

    .header {
        background: linear-gradient(90deg, #1b86e4,#1b96f4,#1b86e4);
    }

    .nav-collapse {
        border-radius: .3em;
        margin-left: calc(100% - 10em);
        color: black;
        background: white;
    }

    #nav li {
        color: #666;
        width:100%;
        display:block;
        font-weight: bold;
        margin: .5em 0;
        text-align: center;
    }

    #nav a {
        display: block;
        font-size: 1.2em;
    }

    .hidden-on-mobile {
        display: none !important;
    }

    * {
        font-size: 14px;
    }

    .main-text {
        width: 100vw;
        padding: 1em;
        border-bottom: 1px solid #eee;
    }

    .inline-block {
        display: block;
    }

    .main-title, .article-title {
        font-size: 28px;
    }

    .article-banner {
        margin-bottom: 1em;
        margin-top: 4em;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    footer {
        padding: 0 1em;
    }

    .article-banner {
        padding-left: 1em;
    }
}

/* for desktop devices on which responsive nav is disabled*/
@media screen and (min-width: 40em) {
    #nav > ul {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #nav .hidden-on-mobile:first-child {
        flex: 1;
    }

    #nav a,
    #nav a:before{
        font-weight: bolder;
        line-height: 100%;
    }

    #nav li {
        display:inline-block;
        width:auto;
        margin: .5em 1em;
    }

    .show-on-mobile {
        display: none !important;
    }

    .js .nav-collapse {
        position: relative;
    }
    .js .nav-collapse.closed {
        max-height: none;
    }
    .nav-toggle {
        display: none!important;
    }

    #toc, #sidebar-inner {
        width: 15em;
        padding-right: 1em;
    }
}

/* for tablet users*/
@media screen and (min-width: 40em) and (max-width: 79.999999999em) {
    .main {
        justify-content: flex-start;
        border-bottom: 1px solid #eee;
    }

    .article-banner {
        padding-left: 3em;
    }

    .main-text {
        width: 75vw;
        flex: none;
    }

    .main-text.post-article {
        padding-left: 1em;
    }

    #sidebar {
        width: 25vw;
        left: 75vw;
        flex: none;
    }

    #toc, #sidebar-inner {
        width: 100%;
    }
}

/* for wide screen devices*/
@media screen and (min-width: 80em) {
    .article-banner {
        padding-left: 25vw;
    }

    .main-text {
        width: 50%;
        border-bottom: 1px solid #eee;
    }

    .sidebar-detached {
        left: 75%;
    }

    .article-title {
        width: 50vw;
    }
}

/* .highlight .hll { background-color: #ffffcc } */
.highlight .c { color: #008000 } /* Comment */
.highlight .k { color: #F25F3C } /* Keyword */
.highlight .cm { color: #008000 } /* Comment.Multiline */
.highlight .cp { color: #155e9d } /* Comment.Preproc */
.highlight .c1 { color: #008000 } /* Comment.Single */
.highlight .cs { color: #008000 } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { font-weight: bold } /* Generic.Heading */
.highlight .gp { font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #395CC5 } /* Keyword.Constant */
.highlight .kd { color: #F25F3C } /* Keyword.Declaration */
.highlight .kn { color: #1751B2 } /* Keyword.Namespace */
.highlight .kp { color: #395CC5 } /* Keyword.Pseudo */
.highlight .kr { color: #155e9d } /* Keyword.Reserved */
.highlight .kt { color: #175199 } /* Keyword.Type */
.highlight .s { color: #a31515 } /* Literal.String */
.highlight .nc { color: #175199 } /* Name.Class */
.highlight .ow { color: #395CC5 } /* Operator.Word */
.highlight .sb { color: #a31515 } /* Literal.String.Backtick */
.highlight .sc { color: #a31515 } /* Literal.String.Char */
.highlight .sd { color: #a31515 } /* Literal.String.Doc */
.highlight .s2 { color: #a31515 } /* Literal.String.Double */
.highlight .se { color: #a31515 } /* Literal.String.Escape */
.highlight .sh { color: #a31515 } /* Literal.String.Heredoc */
.highlight .si { color: #a31515 } /* Literal.String.Interpol */
.highlight .sx { color: #a31515 } /* Literal.String.Other */
.highlight .sr { color: #a31515 } /* Literal.String.Regex */
.highlight .s1 { color: #a31515 } /* Literal.String.Single */
.highlight .ss { color: #a31515 } /* Literal.String.Symbol */
.highlight .nx { color: #032F62 } /* Name */
.highlight .mh { color: #395CC5 } /* Math Literal */