* {
    margin: 0;
    font-family: "Microsoft YaHei UI Light", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

a {
    color: #2a7ae2;
    text-decoration: none;
}

article > h1, h2 {
    border-bottom: 1px solid #eee;
    font-family: "Microsoft YaHei UI", Segoe, Arial, sans-serif;
    margin: .5em 0;
}

h1, .h1 {
    font-size: 36px;
}

h2, .h2 {
    font-size:30px;
}

h3, .h3 {
    font-size:24px
}

h4, .h4 {
    font-size:18px
}

h5, .h5 {
    font-size:14px
}

h6, .h6 {
    font-size:12px
}

p {
    margin:0 0 10px
}

code {
    font-family: Consolas, Monospaced, sans-serif;
    color: #eb7979;
    background-color: #eee;
    padding: 1px .3em;
    border-radius: 4px;
}

.hidden {
    display: none !important;
}

.paged {
    display: none!important;
}

.bold {
    font-weight: bold;
    font-family: "Microsoft YaHei", Segoe, Arial, sans-serif;
}

.fixed {
    position: fixed;
    top: 0;
}

.underlined {
    border-bottom: 1px solid #eee;
}

.highlight {
    background-color: #eee;
    padding: .7em;
    border-radius: .3em;
}

.highlight code {
    padding: 0;
    color: inherit;
    background-color: transparent;
}

blockquote {
    background-color: #eee;
    border-left: .5em #999 solid;
    font-style: italic;
}

blockquote > p {
    padding: .5em 1em;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

body {
    line-height: 1.6;
    display: flex;
    min-height: 100vh;
    flex-flow: column;
}

.navigation {
    display: flex;
}

.home-icon {
    flex: 1;
    color: white;
    margin: .5em;
    font-weight: bolder;
    line-height: 100%;
}

.header {
    background: #bbb url(https://i.loli.net/2019/08/01/5d429efb33a9642629.jpg) center;
    background-size: cover;
}

.main-title {
    font-size: 4em;
    font-weight: bolder;
}

.banner {
    text-align: center;
    color: white;
    margin-top: 4em;
    margin-bottom: 6em;
}

.main {
    display: flex;
    justify-content: center;
    /* to ensure footer in the bottom*/
    flex: 1;
}

.main-text {
    width: 50vw;
    border-bottom: 1px solid #eee;
    margin-top: 3em;
    padding-bottom: 2em;
}

.post-card {
    color: black;
    padding: 1em;
    margin: .5em;
    transition: .2s;
    overflow: visible;
    box-shadow: 4px 2px #eee inset, -2px -2px #eee inset;
}

.post-card:hover {
    cursor: pointer;
    box-shadow: 4px 2px #1B76C4 inset, -2px -2px #1B76C4 inset;
    padding-left: 1.5em;
    padding-right: .5em;
}

.post-subtitle {
    padding-left: 2px;
    font-weight: lighter;
}

.post-preview {
    padding: .5em 0;
    color: #808080;
}

.post-preview {
    font-size: .9em;
}

.post-meta {
    display: flex;
}

.post-date {
    flex: 1;
}

.tag {
    font-weight: lighter;
    font-size: small;
    padding: 0 .5em;
    margin: .2em .2em;
    display: inline-block;
    border-radius: .75em;
    color: black;
    border: 1px solid #ddd;
    transition: .3s;
}

.tag-selected {
    background-color: #eee;
}

.tag:hover {
    text-decoration: none;
    color: #1B76C4;
    cursor: pointer;
    border-color: #1B76C4;
}

#tags-showcase {
    padding-top: 3em;
}

#show-tags-a {
    display: block;
    margin: 1em 3px;
}

.header-tag {
    color: white;
}

footer {
    width: 100%;
    text-align: center;
    padding : 0 20vw;
    color: #808080;
}

footer > .container {
    padding: 1.5em 0;
    /*border-top: 1px solid #eee;*/
}

footer * {
    font-size: 13px;
}

#nav a,
#nav a:before {
    color: white;
}

#nav {
    padding-top: .5em;
}

.nav-active {
    background-color: #bbbbbb;
}

/* for mobile devices that responsive nav is enabled */
@media screen and (max-width: 40em) {
    #nav {
        color: black;
        margin-left: .5em;
    }

    #nav,
    #nav ul {
        text-align: right;
        padding-right: .5em;
        list-style:none;
        width:100%;
        float:left
    }

    #nav li {
        float:left;
        width:100%;
        display:block;
        font-weight: bold;
        height: 2.5em;
    }

    #nav a {
        line-height: 100%;
        font-size: 1.2em;
    }

    .hidden-on-mobile {
        display: none !important;
    }

    * {
        font-size: 14px;
    }

    .main-text {
        margin: 2em 1em;
        width: 100vw;
    }

    .main-title {
        font-size: 32px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    footer {
        padding: 0 1em;
    }

    .post-card {
        margin: .2em;
        box-shadow: none;
        border-top: #eee solid 1px;
    }

    .article-banner {
        padding-left: 1em;
    }
}

/* for desktop devices on which responsive nav is disabled*/
@media screen and (min-width: 40em) {
    #nav > ul {
        display: flex;
        justify-content: center;
    }

    #nav .hidden-on-mobile {
        flex: 1;
    }

    #nav a,
    #nav a:before{
        font-weight: bolder;
        line-height: 100%;
    }

    #nav li {
        display:inline-block;
        width:auto;
        margin: .5em 1em;
    }

    .main-text {
        margin-left: 15em;
        margin-right: 2em;
    }

    .show-on-mobile {
        display: none !important;
    }
}

/* for tablet on which margin left is canceled */
@media screen and (min-width: 40em) and (max-width: 80em) {
    .article-banner {
        padding-left: 2em;
    }

    .main-text {
        margin-left: 2em;
        flex: 1;
    }
}

/* for wide screen devices*/
@media screen and (min-width: 80em) {
    .article-banner {
        padding-left: 25vw;
    }
}

.nav-toggle {
    margin: .5em;
    float: right;
}

.nav-toggle:hover {
    text-decoration: none;
}

.nav-toggle:before {
    color: white;
    font-size: 2em;
}

.sidebar {
    width: 13em;
    padding-right: 1em;
}

#toc {
    padding-left: 1em;
    padding-top: 3em;
}

.toc-list-item {
    padding: 2px 3px;
}

.toc-link:hover {
    text-decoration: none;
    color: #2a7ae2;
}