* {
    margin: 0;
    font-family: Segoe UI, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

a {
    color: #2a7ae2;
    text-decoration: none;
}

article {
    margin: 2em 0;
}

article > h1, h2 {
    border-bottom: 1px solid #eee;
    margin: .3em 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size:30px;
}

h3 {
    font-size:24px
}

h4 {
    font-size:18px
}

h5 {
    font-size:14px
}

h6 {
    font-size:12px
}

p {
    margin:0 0 10px
}

code {
    font-family: Consolas, Monospaced, sans-serif;
    color: #eb7979;
    background-color: #ededed;
    padding: 1px .3em;
    border-radius: 4px;
}

a:hover {
    text-decoration: underline;
}

.main-nav {
    font-size: 1.2em;
    line-height: 100%;
}

body {
    line-height: 1.6;
    display: flex;
    min-height: 100vh;
    flex-flow: column;
}

.navigation {
    display: flex;
}

.header {
    background: url(https://i.loli.net/2019/08/01/5d429efb33a9642629.jpg) center;
    background-size: cover;
}

.main-title {
    font-size: 48px;
}

.banner {
    text-align: center;
    color: white;
    margin-top: 4em;
    margin-bottom: 6em;
}

.main {
    display: flex;
    justify-content: center;
    /* to ensure footer in the bottom*/
    flex: 1;
}

article {
    width: 60%;
}

.main-text {
    padding: 10px;
    width: 60vw;
}

.post-card {
    color: black;
    padding: 2ex;
    margin: .5em;
    transition: .2s;
    overflow: visible;
    box-shadow: 4px 2px #b3b3b3 inset, -2px -2px #b3b3b3 inset;
}

.post-card:hover {
    text-decoration: none;
    cursor: pointer;
    box-shadow: 4px 2px #1B76C4 inset, -2px -2px #1B76C4 inset;
    text-indent: .3em;
}

.post-preview {
    padding: .5em;
    color: #808080;
}

footer {
    width: 100%;
    text-align: center;
    padding : 0 20vw;
    color: #808080;
}

footer > .container {
    padding: 1.5em 0;
    border-top: 1px solid #eee;
}

.header a,
.header a:before {
    color: white;
}

/* for mobile devices */
@media screen and (max-width:800px) {
    #nav {
        color: black;
        margin-left: .5em;
    }

    #nav,
    #nav ul {
        list-style:none;
        width:100%;
        float:left
    }

    #nav li {
        float:left;
        width:100%;
        display:block;
        font-weight: bold;
        height: 2.5em;
    }

    #nav a {
        line-height: 100%;
        font-size: 1.2em;
    }

    .hidden-on-mobile {
        display: none !important;
    }
}

/* for desktop devices */
@media screen and (min-width: 800px) {
    #nav {
        margin-top: .5em;
    }

    #nav > ul {
        display: flex;
        justify-content: center;
    }

    #nav .hidden-on-mobile {
        flex: 1;
    }

    #nav a,
    #nav a:before{
        font-weight: bolder;
        line-height: 100%;
    }

    #nav li {
        display:inline-block;
        width:auto;
        margin: .5em 1em;
    }
}

.nav-toggle {
    margin: .5em;
}

.nav-toggle:before {
    font-size: 2em;
}

@media (max-width: 800px) {
    * {
        font-size: 14px;
    }

    .main-text {
        width: 100vw;
    }

    .main-title {
        font-size: 32px;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }

    footer {
        padding: 0 1em;
    }

    .main-nav {
        visibility: hidden;
    }

    .post-card {
        margin: .2em;
        box-shadow: none;
        border-top: #eee solid 1px;
    }

    .section-head {
        display: none;
    }
}