@import "fonts"

\:root
  --color-bg: #000549
  --color-bg-dark: #000023
  --color-bg-light: #372b75
  --color-brand: #74d7ff
  --color-brand-dark: #38a6cc
  --color-brand-light: #aaffff
  --color-alternative: #d6a365
  --color-alternative-light: #ffb967
  --color-alternative-dark: #b97c31
  --color-base: #ccc
  --color-primary: #ccc
  --color-secondary: #94abc4

  --font-display: Roboto_local, Roboto
  --font-alternative: Georgia, serif
  --font-base: Roboto, Segoe UI, "Helvetica Neue", Helvetica, Oxygen, Ubuntu, Cantarell
  --font-cjk: -apple-system, BlinkMacSystemFont, source-han-sans-cjk-sc, source-han-sans-cjk-ja, "Noto Sans CJK SC", "Source Han Sans SC", "Noto Sans CJK JP", "Source Han Sans", "Noto Sans SC", "Noto Sans JP", "Noto Sans TC", "Hiragino Sans", "Microsoft YaHei", "微软雅黑", "WenQuanYi Micro Hei", STXihei, "华文细黑", Heiti, "黑体", sans serif
  --font-mono: Cascadia Code, Monaco, Consolas, 'Courier New', Courier, monospace

  --fontsize-sub: 15px
  --fontsize-secondary: 17px
  --fontsize-base: 18px
  --fontsize-brand: 72px
  --fontsize-h1: 48px
  --fontsize-h2: 36px
  --fontsize-h3: 28px
  --fontsize-h4: 26px
  --fontsize-h5: 24px
  --fontsize-h6: 20px

  --fontweight-brand: 100
  --fontweight-display: 300
  --fontweight-base: 400
  --fontweight-emph: 700

  --metric-unit-spacing: 30px
  --metric-inner-spacing: 15px
  --metric-box-radius: 5px
  --metric-center-width: min(calc(100vw - 8 * var(--metric-unit-spacing)), 700px)
  --metric-stretchout-width: min(calc(100vw - 6 * var(--metric-unit-spacing)), 900px)

@media only screen and (max-width: 730px)
  \:root
    --fontsize-sub:  14px
    --fontsize-secondary: 15px
    --fontsize-base: 16px

    --fontsize-h1: 40px
    --fontsize-h2: 32px
    --fontsize-h3: 26px
    --fontsize-h4: 22px
    --fontsize-h5: 20px
    --fontsize-h6: 18px

    --metric-unit-spacing: 18px
    --metric-center-width: calc(100vw - 2 * var(--metric-unit-spacing))
    --metric-stretchout-width: min(calc(100vw - 2 * var(--metric-unit-spacing)), 900px)
