\:root
  --color-bg: #000549
  --color-brand: #00a4e6
  --color-alternative: #cb8939
  --color-base: #ccc
  --color-primary: #ccc
  --color-secondary: #94abc4

  --font-display: Roboto, Helvetica, sans-serif
  --font-alternative: Georgia, serif
  --font-base: Roboto
  --font-cjk: Source Han Sans CN
  --font-mono: Cascadia Code PL, Menlo, monospace

*
  margin: 0
  box-sizing: border-box

.debug
  outline: inset 1px red