@import "constants"

*
  margin: 0
  box-sizing: border-box

.debug
  outline: inset 1px red

@mixin h-centering
  margin:
    left: auto
    right: auto

.h-centering
  @include h-centering
  text-align: center

body
  font-family: var(--font-cjk), var(--font-base)
  font-size: var(--fontsize-base)
  font-weight: var(--fontweight-base)
  color: var(--color-base)

.alternative
  color: var(--color-alternative)

.brand
  color: var(--color-brand)

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
  font-family: var(--font-display), var(--font-cjk), var(--font-base)
  clear: both

h1, .h1
  font-size: var(--fontsize-h1)
  font-weight: var(--fontweight-display)

h2, .h2
  font-size: var(--fontsize-h2)
  font-weight: var(--fontweight-display)

h3, .h3
  font-size: var(--fontsize-h3)

h4, .h4
  font-size: var(--fontsize-h4)

h5, .h5
  font-size: var(--fontsize-h5)

h6, .h6
  font-size: var(--fontsize-h6)

a
  color: var(--color-alternative)
  text-decoration: none

h1, .h1, h2, .h2, h3, .h3, p, table, img, .para-block
  margin:
    top: var(--metric-spacing-unit)
    bottom: var(--metric-spacing-unit)

.inner-block
  margin:
    top: var(--metric-inner-spacing)
    bottom: var(--metric-inner-spacing)

.live-link
  position: relative

  &::before
    bottom: 0
    content: ''
    height: 2px
    left: 0
    position: absolute
    display: inline-block
    transition: transform 0.2s ease-in-out
    transform: scaleX(0)
    width: 100%

  &:hover::before
    transform: scaleX(1)
