#brand-title
  font-family: var(--font-display)
  font-size: var(--fontsize-brand)
  font-weight: var(--fontweight-brand)

#brand-subtitle
  margin-top: var(--metric-spacing-unit)

  font-style: italic
  font-weight: var(--fontsize-light)
  font-family: var(--font-alternative)
  font-size: var(--fontsize-h4)

  color: var(--color-alternative-dark)

#main-wrapper
  flex: 1
  display: flex
  flex-flow: column
  width: calc(min(var(--metric-center-width), 400px))

#body
  display: flex
  min-height: 100vh
  flex-flow: column
  justify-content: center
  align-items: center
  background-color: var(--color-bg)

#brand
  margin-top: calc(3 * var(--metric-spacing-unit))

#site-entries-list
  margin:
    top: calc(2 * var(--metric-spacing-unit))
    bottom: var(--metric-spacing-unit)

  a
    position: relative
    display: block
    font-size: var(--fontsize-h1)
    font-weight: var(--fontweight-brand)

    width: 100%
    margin-top: 1rem
    color: var(--color-base)
    font-family: var(--font-base)
    text-decoration: none
    transition: transform 0.2s

    &::after
      content: ''
      width: 0.5em
      height: 0.5em
      border-top: var(--color-base) 1px solid
      border-right: var(--color-base) 1px solid
      position: absolute
      right: 1em
      top: 28px
      transform: rotate(45deg)

    &:hover
      transform: translate(4px, 0)
