footer
  width: 100%
  background-color: var(--color-bg-dark)
  color: var(--color-secondary)
  font-family: var(--font-base)
  font-size: var(--fontsize-sub)
  text-align: center
  padding:
    top: var(--metric-spacing-unit)
    bottom: var(--metric-spacing-unit)

  p
    margin:
      top: 5px
      bottom: 5px

  a
    color: var(--color-alternative)
