<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 :(</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <link rel="icon" href="/favicon.ico">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/home.css" rel="stylesheet">
    <link href="/assets/css/404.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/nav/responsive-nav.css">
    <script src="/assets/nav/responsive-nav.js"></script>
</head>

<body>
<div id="body-wrap">
    <div id="nav">
        <ul>
            <li class="hidden-on-mobile"><a href="/" class="fa fa-home fa-2x"></a></li>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/clock/clock.html">CLOCK</a></li>
        </ul>
    </div>
    <h1 id="banner-404">
        404 :(
        <br>
        <span>Page not found</span>
    </h1>
    {% include footer.html %}
</div>

<script>
    let navigation = responsiveNav("#nav", {
        animate: true,
        transition: 400,
        label: '',
        init: function () {
            document.getElementsByClassName('nav-toggle')[0].classList.add('fa', 'fa-navicon');
        },
    });
</script>
</body>
</html>