---
layout: empty
requirements:
 - <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
 - <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js" defer></script>
---

<div class="article-header header">
    {% include nav_bar.html %}
</div>

<div class="main">
    <div class="central_col">
        <article class="post-article article-card card">
            <div class="article-banner">
                <h1 class="article-title">
                    {{ page.title }}
                </h1>
                {% if page.subtitle %}
                    <h2 class="article-subtitle">
                        {{ page.subtitle }}
                    </h2>
                {% endif %}
                {% if page.date %}
                    <div class="article-date">
                        <i class="fa fa-calendar"></i>
                        <span class="inline-block">
                            Posted on {{ page.date | date: "%Y-%m-%d"}}
                        </span>
                        <span class="inline-block">
                            Last edited on {{ page.last_modified_at | date: "%Y-%m-%d"}}
                        </span>
                    </div>
                {% endif %}
                {% if page.tags %}
                    <div class="article-tags">
                        <i class="fa fa-tags"></i>
                        <span class="article-date-label">Tags: </span>
                        {% for tag in page.tags %}
                            <a class="tag" href="/?tags={{tag}}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div id="article-content">
                {{ content }}
            </div>
        </article>
        {% unless page.standalone %}
            <div id="post-switch">
                <div>
                    {% if page.previous %}
                    <a href="{{ page.previous.url }}" id="post-previous" class="card">
                        <h5>
                            PREVIOUS
                        </h5>
                        {{ page.previous.title }}
                    </a>
                    {% endif %}
                </div>

                <div>
                    {% if page.next %}
                    <a href="{{ page.next.url}}" id="post-next" class="card">
                        <h5>
                            NEXT
                        </h5>
                        {{ page.next.title }}
                    </a>
                    {% endif %}
                </div>
            </div>
        {% endunless %}
        <div class="comment-card">
            <div id="gitalk-container"></div>
        </div>
    </div>

    <div class="sidebar hidden-on-mobile" id="sidebar">
        <div id="toc" class="sidebar-inner">
            <div class="sep-line"></div>
            <h5 class="section-head">Contents</h5>
        </div>
    </div>
</div>

{% include footer.html %}

