---
layout: empty
requirements:
 - <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.css">
 - <link rel="stylesheet" href="/assets/css/highlight.css">
 - <link rel="stylesheet" href="/assets/css/article.css">
 - <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
 - <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
 - <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
 - <script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.4.2/tocbot.min.js"></script>
 - <script type="text/javascript" src="/assets/nav/sticky-sidebar.js"></script>
---

{% include header_article.html %}

<div class="main">
    <article class="main-text">
        {{ content }}
        <div id="post-switch">
            <div>
                {% if page.previous %}
                <a href="{{ page.previous.url }}" id="post-previous">
                     <h5>
                         <i class="fa fa-angle-left"></i> PREVIOUS
                     </h5>
                    {{ page.previous.title }}
                </a>
                {% endif %}
            </div>

            <div>
                {% if page.next %}
                <a href="{{ page.next.url}}" id="post-next">
                    <h5>
                         NEXT <i class="fa fa-angle-right"></i>
                    </h5>
                    {{ page.next.title }}
                </a>
                {% endif %}
            </div>
        </div>

        <div id="gitalk-container"></div>
    </article>

    <div class="sidebar hidden-on-mobile">
        <div class="sidebar__inner">
            <div id="toc"></div>
        </div>
    </div>
</div>

{% include footer.html %}


<!-- use mathjax to handle formulas-->
<script type="text/x-mathjax-config">
        MathJax.Hub.Config({
          tex2jax: {inlineMath: [['$','$']]}
        });
</script>

<!-- use sticky-sidebar to wrap table of contents to a sidebar-->
<script type="text/javascript">
    tocbot.init({
        // Where to render the table of contents.
        tocSelector: '#toc',
        // Where to grab the headings to build the table of contents.
        contentSelector: 'article',
        // Which headings to grab inside of the contentSelector element.
        headingSelector: 'h1, h2, h3',
    });
    const sidebar = new StickySidebar('.sidebar', {
        topSpacing: 0,
        bottomSpacing: 20,
        containerSelector: '.main',
        innerWrapperSelector: '.sidebar__inner'
    });
    String.prototype.hashCode = function() {
        let hash = 0, i, chr;
        if (this.length === 0) return hash;
        for (i = 0; i < this.length; i++) {
            chr   = this.charCodeAt(i);
            hash  = ((hash << 5) - hash) + chr;
            hash |= 0; // Convert to 32bit integer
        }
        return Math.abs(hash);
    };
    const gitalk = new Gitalk({
        clientID: '56fd0766110ee8f26064',
        clientSecret: '81aca02e7bc69deccda1d2f5d258eed60b38a859',
        repo: 'SharzyL.github.io',
        owner: 'SharzyL',
        admin: ['SharzyL'],
        id: location.pathname.hashCode().toString(),      // Ensure uniqueness and length less than 50
        distractionFreeMode: true  // Facebook-like distraction free mode
    });

    gitalk.render('gitalk-container')
</script>
